# Ignore personal tracking files
TODO.txt
PongShit.txt
helpers.py

# Python junk
__pycache__/
*.pyc
*.pyo
*.log

# Pygame executable (if you build one later)
dist/
build/
*.exe

# VSCode settings
.vscode/

# Virtual environments
venv/
